<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="blog-content content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu lorem mollis, tincidunt eros sed, finibus orci. Ut placerat nec odio vel auctor.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu lorem mollis, tincidunt eros sed, finibus orci. Ut placerat nec odio vel auctor.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu lorem mollis, tincidunt eros sed, finibus orci. Ut placerat nec odio vel auctor.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>